<section class="contacts-section">
  <h1 class="title">
    Contacts
  </h1>
  <div class="contact-list">
    <div class="item">
      <i class="fas fa-phone contact-icon"></i>
      <span class="contact-information">500 304 504</span>
    </div>
    <div class="item">
      <i class="fas fa-envelope contact-icon"></i>
      <span class="contact-information">contact@email.com</span>
    </div>
    <div class="item">
      <i class="fab fa-twitter contact-icon"></i>
      <span class="contact-information">Twitter</span>
    </div>
    <div class="item">
      <i class="fab fa-facebook contact-icon"></i>
      <span class="contact-information">Facebook</span>
    </div>
  </div>
</section>
