<div class="banner-area">
  <div class="flex-container">
    <div class="intro">
      <div class="img-area">
        <img id="avatar" alt="1">
      </div>
      <h1>John Snow</h1>
      <h2>Programmer. Creative. Inovator</h2>
      <span class="about">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>
            A asperiores doloremque et explicabo magni perferendis
        </span>
      <button class="learn-more-button">Learn more</button>
    </div>
  </div>
</div>
