<section class="skills-section">
  <h1 class="title">
    Skills
  </h1>
  <div class="skills">
    <div class="skill">
      <div class="skill-bar">
        <div class="skill-per" style="width: 95%">
          HTML
        </div>
      </div>
      <div class="skill">
        <div class="skill-bar">
          <div class="skill-per" style="width: 65%">
            CSS
          </div>
        </div>
      </div>
      <div class="skill">
        <div class="skill-bar">
          <div class="skill-per" style="width: 45%">
            Javascript
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="metrics">
    <div class="metric-line" style="width: 20%">
      Beginner
    </div>
    <div class="metric-line" style="width: 20%">
      Advanced
    </div>
    <div class="metric-line" style="width: 40%">
      Professional
    </div>
  </div>
</section>
