<section class="skills-section">
  <div class="row">
    <h1 class="title col-sm-3">
      Skills
    </h1>
    <button type="button" class="btn btn-info col-sm-3"
            (click)="this.openSkillForm()">{{this.shouldShowSkillForm ? 'Close' : 'Open'}} add new skill form
    </button>
  </div>

  <div class="skills">
    <div *ngFor="let skill of activeSkills | async" class="skill">
      <div class="bar__container">
        <div class="bar__name" [style]="calculateStyles(skill)">
          {{skill['name']}}
        </div>
      </div>
    </div>
  </div>
  <app-skills-form *ngIf="shouldShowSkillForm"></app-skills-form>
</section>
