<section class="exp-section">
  <h1 class="title">
    Experience
  </h1>
  <div class="experience-notes">
    <div class="note">
      <div class="company-block">
        <h1>Google</h1>
        <span>2013-2014</span>
      </div>
      <div class="position-and-description">
        <h1>Front-end Developer</h1>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda
                    culpa dolores doloribus fugit harum hic ipsam labore, laudantium nemo
                    , porro, quia similique tempore. Eligendi iure nihil quos tempora voluptate voluptatem.</span>
      </div>
    </div>
    <div class="note">
      <div class="company-block">
        <h1>Twitter</h1>
        <span>2012  </span>
      </div>
      <div class="position-and-description">
        <h1>Web Developer</h1>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda
                    culpa dolores doloribus fugit harum hic ipsam labore, laudantium nemo
                    , porro, quia similique tempore. Eligendi iure nihil quos tempora voluptate voluptatem.</span>
      </div>
    </div>
  </div>
</section>
