<section class="education-section">
  <h1 class="title">
    Education
  </h1>

  <div class="chronology-block">
    <div class="edu-item">
      <div class="edu-date">
        1991
      </div>
      <div class="edu-description">
        <h1>Title</h1>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque ipsam labore nemo, porro
        possimus quaerat repellendus sed ut voluptatem. Aperiam atque consequatur culpa dolorum, ea eius esse
        explicabo facere illo in laboriosam modi optio pariatur possimus praesentium quibusdam quo repellendus,
        soluta suscipit tempora tempore unde vel veniam voluptatibus voluptatum.
      </div>
    </div>
    <div class="edu-item">
      <div class="edu-date">
        1992
      </div>
      <div class="edu-description">
        <h1>Title</h1>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque ipsam labore nemo, porro
        possimus quaerat repellendus sed ut voluptatem. Aperiam atque consequatur culpa dolorum, ea eius esse
        explicabo facere illo in laboriosam modi optio pariatur possimus praesentium quibusdam quo repellendus,
        soluta suscipit tempora tempore unde vel veniam voluptatibus voluptatum.
      </div>
    </div>
    <div class="edu-item">
      <div class="edu-date">
        1992
      </div>
      <div class="edu-description">
        <h1>Title</h1>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque ipsam labore nemo, porro
        possimus quaerat repellendus sed ut voluptatem. Aperiam atque consequatur culpa dolorum, ea eius esse
        explicabo facere illo in laboriosam modi optio pariatur possimus praesentium quibusdam quo repellendus,
        soluta suscipit tempora tempore unde vel veniam voluptatibus voluptatum.
      </div>
    </div>
  </div>
</section>
