<section class="feedbacks-section">
  <h1 class="title">
    About me
  </h1>
  <div class="feedback">
    <div class="feedback-content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus, accusantium assumenda beatae
      deserunt dignissimos ea ipsa itaque iusto maxime neque nisi, placeat quis quisquam sequi sint tempora
      temporibus vel?
    </div>
    <div class="feedback-author">
      <app-avatar></app-avatar>
      <span class="author-name">Marthin Lutther</span>
    </div>
  </div>
  <div class="feedback">
    <div class="feedback-content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus, accusantium assumenda beatae
      deserunt dignissimos ea ipsa itaque iusto maxime neque nisi, placeat quis quisquam sequi sint tempora
      temporibus vel?
    </div>
    <div class="feedback-author">
      <app-avatar></app-avatar>
      <span class="author-name">Marthin Lutther</span>
    </div>
  </div>
  <div class="feedback">
    <div class="feedback-content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus, accusantium assumenda beatae
      deserunt dignissimos ea ipsa itaque iusto maxime neque nisi, placeat quis quisquam sequi sint tempora
      temporibus vel?
    </div>
    <div class="feedback-author">
      <app-avatar></app-avatar>
      <span class="author-name">Marthin Lutther</span>
    </div>
  </div>
</section>
